@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.blog-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 3.5px;
  opacity: 1;
  background: #9CB0BB;
}

.blog-pagination .swiper-pagination-bullet-active {
  background: #091B25;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
